body,
html {
  padding: 0;
  margin: 0;

  height: 100%;

  font-size: 110%;
  font-family: "Asap", sans-serif;

  --app-pull-handle-height: 3.5rem;
}

.background_image {
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
  position: fixed;
  transition: min-height 1s;
}

.spacer {
  position: relative;
  min-height: calc(100% - var(--app-pull-handle-height));
}

.pullHandle {
  cursor: pointer;
  position: fixed;
  width: 100%;
  z-index: 3;
  text-align: center;
}

.pullHandle img {
  height: 2rem;
}

.content {
  position: relative;
  top: var(--app-pull-handle-height);
  background-color: whitesmoke;
  z-index: 10;
}

.section {
  font-size: 1rem;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.section .title {
  font-family: "Playfair Display", serif;
  text-transform: lowercase;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
