body,
html {
  padding: 0;
  margin: 0;

  height: 100%;

  font-size: 100%;
  font-family: "Muli", sans-serif;
  font-weight: 200;

  color: var(--app-text);

  --app-pull-handle-height: 3.5rem;
  --app-primary: #white;
  --app-background: #22252a;
  --app-border-color: #84dcc6;
  --app-text: whitesmoke;
}

a,
a:hover {
  color: var(--app-primary);
  /* text-decoration: none; */
  text-decoration-color: var(--app-border-color);
  text-decoration-thickness: 5px;
}

strong {
  font-weight: 800;
  color: var(--app-primary);
}

.background_image {
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
  position: fixed;
  transition: min-height 1s;
}

.spacer {
  position: relative;
  min-height: calc(100% - var(--app-pull-handle-height));
}

.pullHandle {
  cursor: pointer;
  position: fixed;
  width: 100%;
  z-index: 3;
  text-align: center;
}

.pullHandle img {
  height: 2rem;
}

.content {
  position: relative;
  top: var(--app-pull-handle-height);
  background-color: var(--app-background);
  z-index: 10;
}

.section {
  font-size: 1.4rem;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;
}

.section .title {
  color: var(--app-primary);
  font-weight: 800;
  font-size: 1.9rem;
  padding-top: 1rem;
  padding-bottom: 0.2rem;
}

.spass .section_content {
  border-left: 3px solid var(--app-border-color);
  padding: 1rem;
  padding-top: 0.4rem;
  font-style: italic;
}

.kontakt .section_content {
  border-left: 3px solid var(--app-border-color);
  padding: 1rem;
  padding-top: 0.4rem;
  font-style: italic;
}

.uli {
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;
}

.uli img {
  max-width: 100%;
}

footer {
  border-top: 3px solid var(--app-border-color);
  position: relative;
  height: 248px;
  background-color: #343434;
  background-image: url("/images/punkte.png");
}
