body {
  padding: 0;
  margin: 0;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  --app-pull-handle-height: 3.5rem;
}

.background_image {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: fixed;
}

.spacer {
  position: relative;
  min-height: calc(100vh - var(--app-pull-handle-height));
}

.navigation {
  position: fixed;
  width: 100%;
  z-index: 3;
  text-align: center;
}

.navigation img {
  height: 2.5rem;
}

.content {
  position: relative;
  top: var(--app-pull-handle-height);
  background-color: whitesmoke;
  z-index: 10;
}

.section {
  padding: 1rem;
}

.section .title {
  font-size: larger;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
